<div class="signin-content">
  <mat-card>
    <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="onSubmit()" autocomplete="off">
        <mat-icon>ballot</mat-icon>
        <p>Add Product</p>


        <mat-form-field class="full-width-input">
          <input matInput placeholder="Product Name" formControlName="product_name" required>
          <mat-error *ngIf="isFieldInvalid('product_name')">
              Please provide valid product name
            </mat-error>
          </mat-form-field>

        <mat-form-field class="full-width-input">
          <input matInput placeholder="Product Type" formControlName="product_type" required>
          <!-- <mat-icon matSuffix>lock</mat-icon> -->
          <mat-error *ngIf="isFieldInvalid('product_type')">
              Please provide valid product type
            </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width-input">
          <input matInput placeholder="Description" formControlName="product_description" required>
          <!-- <mat-icon matSuffix>lock</mat-icon> -->
          <mat-error *ngIf="isFieldInvalid('product_description')">
              Please provide valid product description
            </mat-error>
        </mat-form-field>

        <mat-form-field class="full-width-input">
          <input type="number" matInput placeholder="Price/Quantity" formControlName="product_price" required>
          <!-- <mat-icon matSuffix>lock</mat-icon> -->
          <mat-error *ngIf="isFieldInvalid('product_price')">
            Please provide price per quantity
          </mat-error>
        </mat-form-field>

        <mat-form-field class="full-width-input">
          <input type="number" matInput placeholder="Quantity Available" formControlName="product_quantity" required>
          <!-- <mat-icon matSuffix>lock</mat-icon> -->
          <mat-error *ngIf="isFieldInvalid('product_quantity')">
            Please provide available quantity
          </mat-error>
        </mat-form-field>

        
        <section class="example-section">
            <label>Payment Mode : &nbsp;</label>
            <mat-radio-group class="example-radio-group" formControlName="payment_mode">
            <mat-radio-button class="example-radio-button" value="COD">COD</mat-radio-button>
            <mat-radio-button class="example-radio-button" value="Online">Online</mat-radio-button>
            </mat-radio-group>
          </section>
        
        <button mat-raised-button color="primary"><mat-icon>add_box</mat-icon>&nbsp;&nbsp;Add Product</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
