<div class="signin-content">
  <mat-card>
    <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="onSubmit()" autocomplete="off">
        <mat-icon>ballot</mat-icon>
        <p>Add Product</p>


        <mat-form-field class="full-width-input">
            <mat-select placeholder="Product Name" formControlName="product_name" (selectionChange)="somethingChanged($event.value)" required>
              <mat-option *ngFor="let product of productList"  [value]="product.product_id" >
                {{product.product_name}}
              </mat-option>
            </mat-select>
          </mat-form-field>

        <mat-form-field class="full-width-input">
          <input matInput placeholder="Product Type" formControlName="product_type" required>
          <!-- <mat-icon matSuffix>lock</mat-icon> -->

        </mat-form-field>
        <mat-form-field class="full-width-input">
          <input matInput placeholder="Description" formControlName="product_description" required>
          <!-- <mat-icon matSuffix>lock</mat-icon> -->

        </mat-form-field>

        <mat-form-field class="full-width-input">
          <input type="number" matInput placeholder="Price/Quantity" formControlName="product_price" required>
          <!-- <mat-icon matSuffix>lock</mat-icon> -->
          <mat-error *ngIf="isFieldInvalid('product_price')">
            Please provide price per quantity
          </mat-error>
        </mat-form-field>

        <mat-form-field class="full-width-input">
          <input type="number" matInput placeholder="Quantity Available" formControlName="product_quantity" required>
          <!-- <mat-icon matSuffix>lock</mat-icon> -->
          <mat-error *ngIf="isFieldInvalid('product_quantity')">
            Please provide available quantity
          </mat-error>
        </mat-form-field>

        <mat-form-field class="full-width-input">
          <input type="text" matInput placeholder="Delivery Within" formControlName="product_delivery" required>
          <!-- <mat-icon matSuffix>lock</mat-icon> -->
          <mat-error *ngIf="isFieldInvalid('product_delivery')">
            Please provide delivery time
          </mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary"><mat-icon>add_box</mat-icon>&nbsp;&nbsp;Add Product</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
